footer
{
    display: flex;
    background: rgb(0, 0, 0);
    padding: 20px 20px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    width: 100%;
}

.but{
    background-color: red;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    color: white;
    width: 100%;    
}

.fl{
    display: block;
    font-size: large;
    column-gap: 20px;
}

label{
    font-size: large;
}

input{
    margin: 10px;
    border: 20px ;
    border-radius: 20px;
}


.button {
    background-color: #f3f3f3; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    justify-items: center;
  }
  

  .button2:hover {
    box-shadow: 6px 6px 15px 0px red;
  }

  .button2:click
  {
    background-color: #23ed48; /* Green */
  }






