body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navi
{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 20px;
    font-size: large;

}

ul,a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 3rem;
    color: white;
}


main{
    border: 2px solid black;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.con
{
    border: 3px solid black;

}

footer{
    margin:-100;

    background: black;
}